{% block content %}

<div class="left-content">
    <h3>BPC &#43;</h3><br />
    <ul>
        <li><a href="https://bpcarm.org/" target="_blank">BPC Official</a></li>
        <li><a href="https://www.facebook.com/bpcarm/" target="_blank">BPC Facebook</a></li>
        <li><a href="https://gitlab.com/vahan.sahakyan/" target="_blank">my GitLab</a></li>
        <li><a href="http://reviewboard.bpcarm.org/users/vahan.sahakyan/" target="_blank">my ReviewBoard</a>
            <ol>
                <li>&gt;&gt;<a href="https://www.linkedin.com/in/vahan-sahakyan-a90809171/" target="_blank"> my Linkedin</a></li>
                <li>&gt;&gt;<a href="https://www.youtube.com/channel/UCzVHOR8ZthUlZI6rHBDVyEg/" target="_blank"> my YouTube</a></li>
            </ol>
        </li>
    </ul>
</div>

{% endblock %}