{% block content %}

<div class="page-top">
    <div class="cover">
        <div class="col-lg-6 cover-pic">
            <img src="static/mainApp/image/cover_bg.jpg" alt="Vahan" />
        </div>
        <div class="col-lg-6 cover-text">
            <div class="text">
                <h2>Vahan<br />Sahakyan</h2>
                <h3>Programmer</h3>
                <p>Let me represent you my simple Portal-Page. Its main purpose is to combine my content, and make it easier to surf through the links that I use and work with regularly.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="line"></div>
</div>

{% endblock %}