{% block content %}

<div class="right-content">
    <h3>Links</h3><br />
    <ul>
        <li><a href="https://bpcarm.org/u/vahan.sahakyan/l/creative-studio/index.html" target="_blank">Creative Studio</a></li>
        <li><a href="https://bpcarm.org/u/vahan.sahakyan/l/magazine/index.html" target="_blank">Magazine</a></li>
        <li><a href="https://bpcarm.org/u/vahan.sahakyan/l/bpc_template/index.html" target="_blank">BPC Template</a></li>
        <li><a href="https://bpcarm.org/u/vahan.sahakyan/l/test_page/index.html" target="_blank">My First Page</a>
            <ol>
                <li>&gt;&gt;<a href="https://bpcarm.org/u/vahan.sahakyan/l/test_page/form.html" target="_blank"> Form Example</a></li>
                <li>&gt;&gt;<a href="https://bpcarm.org/u/vahan.sahakyan/l/test_page/float.html" target="_blank"> Float Example</a></li>
            </ol>
        </li>
    </ul>
</div>

{% endblock %}